@charset "UTF-8";

.hero {
  height: 46rem;
  position: relative; /* .절대배치된 .hero figure의 기준 */
  overflow: hidden;
}
.hero::before {
  content: ""; /* ct */
  /* posa+t0+l0+r0+b0 */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* inset :0;*/
  background: rgba(0, 0, 0, 0.4);
  z-index: 5;
}

.hero figure {
  position: absolute;
  top: 0;
  left: 0;
  /* border: 5px solid #f00; */

  animation: reveal-ani 1s;
}

.hero img {
  object-position: 50% 10%; /* obp */
}

.hero .inner {
  /* 절대 배치된 .visual-title의 기준 */
  position: relative;
  height: 100%;
  z-index: 10; /* z10 */

  /* background: skyblue; */
}

.visual-title {
  /* posa+t50p+0+bg */
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%); /* trfty */
  /* background: #f00; */
  color: #fff;

  width: 69rem;
  width: 58.4746%;
}

.visual-title h2 {
  /* fw700+fz4.8r */
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 1.2;
  text-transform: uppercase; /* ttu: 대문자로 표시 */
}

.visual-title h2 strong {
  color: var(--main-color);
}
.visual-title p {
  /* fw500+fz2r+mt2.4r */
  font-weight: 500;
  font-size: 2rem;
  margin-top: 2.4rem;
}
.visual-title .cta {
  /* df+w20r+h4r+bg+c#fff+fw700+fz1.6r+lh1.5 */
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 20rem;
  height: 4.8rem;
  background: var(--main-color);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.5;

  margin-top: 3.2rem;
}

.visual-title .cta:hover {
  background: var(--main-dark);
  color: #fff;
}
/* main 하위 섹션 전체 적용(hero제외 ): 2005 */
main > section + section {
  padding: 9rem 0 3rem;
}

main > section:last-child {
  padding: 9rem 0 12rem;
}

/* 사업소개 */
.business-list {
  display: flex;
  gap: 2rem; /* g2r */
}
.business-list li {
  border: 1px solid var(--black30);
  /* fx1-1-a */
  flex: 1 1 clamp(28rem, 20vw, 474rem);
  /* width: 28rem;
  width: 23.7288%; */

  height: 30.2rem;
  padding: 2.8rem 3.2rem;
  /* bxsh */
  box-shadow: 0 8px 0 rgba(0, 0, 0, 0.05);
}

.business-list li dl dt {
  /* fw700+fz2r+lh1.3+c */
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.3;
  color: var(--main-dark);
}
.business-list li dl dd {
  font-weight: 500;
  line-height: 1.5;
  margin-top: 1.2rem;
}

.business-list li dl dd:first-of-type {
  margin-top: 2rem;
}

/* works */

.sec-title {
  /* fw500+fz3.2r+c */
  font-weight: 500;
  font-size: 3.2rem;
  color: var(--main-color);
}

.sec-title + p {
  /* fw500+fz2r+mt.4r */
  font-weight: 500;
  font-size: 2rem;
  margin-top: 0.4rem;
}

.works-list {
  display: flex;
  flex-wrap: wrap; /* fxww: 줄바꿈 */
  margin-top: 2.8rem;
}

.works-list li {
  flex: 1 1 50%;
  position: relative; /* 절대배치된 p의 기준 */
  overflow: hidden;
}

.works-list figure {
  transition: 0.4s; /* trs.4s */
}
.works-list li p {
  /* posa+t50p+l50p+trft */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 500;
  font-size: 2.4rem;
  text-align: center;

  background: pink;
  width: 90%;
}

.works-list li p strong {
  display: block;
  font-weight: 700;
}

.works-list li:hover figure {
  transform: sacle(1.3);
  filter: blur(10px);
}

/* news */
.news-con {
  display: flex;
  gap: 6rem;
  gap: 5.0847%;
}

.news-con .news-text {
  width: 48rem;
  width: 40.678%;

  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  justify-content: center;
}

.news-con .news-text h4 {
  /* fw700+fz2.4r+c */
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--title-color);
  margin-top: 1.8rem;
}
.news-con .news-text p {
  margin-top: 1.8rem;
}

.news-con figure {
  width: 64rem;
  width: 54.2373%;
}

/* colum */
.column h4 {
  /* fw500+fz2.8+c */
  font-weight: 500;
  font-size: 2.8em;
  color: var(--main-color);
}

.column h5 {
  /* fw700+fz3.2r+c+mt1.8r */
  font-weight: 700;
  font-size: 3.2rem;
  color: var(--title-color);
  margin-top: 1.8rem;
}

colum h5 + p {
  margin-top: 1.8rem;
  column-count: 2;
  gap: 4rem;
  text-align: justify; /* taj */
}
column p + p {
  text-align: right; /* tar */
  margin-top: 3rem;
}

.column p + p strong {
  display: block;
  font-weight: 700;
}

/* 반응형 디자인 */

/* 태블릿 */
@media (max-width: 1024px) {
  .hero {
    height: 64rem;
  }

  .visual-title {
    width: 46rem;
    width: 47.5207%;
    left: 6%;
  }

  .business-list {
    flex-wrap: wrap;
  }

  .business-list li {
    /* width: 47.4rem;
    width: 48.9669%; */

    height: 28rem;
  }

  .news-con {
    gap: 2rem;
  }

  .news-con .news-text {
    width: 47.4rem;
    width: 48.9669%;
  }

  .news-con figure {
    width: 47.4rem;
    width: 48.9669%;
  }

  .colum h5 + p {
    column-count: 1;
  }
}
@media (max-width: 900px) {
  .visual-title {
    width: 86%;
  }
  .works-list li {
    /* flex:1 1 50% */
    flex-basis: 100%; /* fxb100p */
  }
  .news-con {
    flex-direction: column; /* fxdc */
  }
  .news-con .news-text,
  .news-con figure {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .hero {
    height: 48rem;
    height: calc(100vh - 10rem);
  }

  .visual-title {
    width: 100%;
    text-align: center;
  }

  .visual-title h2 {
    font-size: 3rem;
  }
  .business_lst li {
    height: initial;
    height: auto;
  }
}
